.route-fade-go-enter {
	opacity: 0;
  transform: translate(100vw, 0);
}
.route-fade-go-enter.route-fade-go-enter-active {
	opacity: 1;
  transform: translate(0, 0);
  transition: transform 100ms ease, transform 200ms ease;
}
.route-fade-go-exit {
	opacity: 1;
  transform: translate(0, 0);
}
.route-fade-go-exit.route-fade-go-exit-active {
	opacity: 0;
  transform: translate(-100vw, 0);
  transition: transform 100ms ease, transform 200ms ease;
}

.route-fade-back-enter {
	opacity: 0;
  transform: translate(-100vw, 0);
}
.route-fade-back-enter.route-fade-back-enter-active {
	opacity: 1;
  transform: translate(0, 0);
  transition: transform 100ms ease, transform 200ms ease;
}
.route-fade-back-exit {
	opacity: 1;
  transform: translate(0, 0);
}
.route-fade-back-exit.route-fade-back-exit-active {
	opacity: 0;
  transform: translate(100vw, 0);
  transition: transform 100ms ease, transform 200ms ease;
}