@import '../../../styles/base.var.scss';

.com-content-box {
	width: 100%;
	margin: 0 auto;
	background-color: var(--color-content-background-color);
	max-width: 60rem;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 
		0.5rem 0.5rem 2rem 0.1rem var(--color-content-background-color),
		0.5rem 0.5rem 0.5rem 0.1rem var(--color-content-background-color-opacity5);
	@include media-phone {
		border-radius: 1rem;
		padding: 1rem;
	}
}
.com-content-inner {
	background-color: var(--color-background-color);
	color: var(--color-hight-color);
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-top: 1rem;
}