@import '../../styles/base.var.scss';

.main_base {
	background-color: var(--color-main-background-color);
	position: relative;
	display: flex;
	z-index: 1;
	@include media-phone {
		flex-direction: column;
	};
	&::before, &::after {
		content: '';
		display: block;
		background-color: var(--color-primary-color);
		position: absolute;
		z-index: -1;
		opacity: 0.2;
	}
	&::before {
		width: 4rem;
		height: 4rem;
		border-radius: 60% 90% 60% 90%;
		top: 1rem;
		left: -1rem;
		box-shadow: 0 0 3rem 2rem var(--color-primary-color);
	}
	&::after {
		width: 20vw;
		height: 6rem;
		border-radius: 80% 40% 90% 70%;
		bottom: 2vw;
		right: 10vw;
		box-shadow: 0 0 20vw 20vw var(--color-primary-color);
	}
}
.main_base_nav {
	padding-top: 3rem;
	flex: 1;
	min-width: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include media-phone {
		padding-top: 0;
		flex: 0;
	}
}
.main_base_logo_box {
	display: block;
	width: 70%;
	max-width: 12rem;
	@include media-phone {
		display: none;
	}
}
.main_base_logo {
	display: block;
	width: 100%;
}
.main_base_center {
	width: 100%;
	padding: 0 10%;
	@include media-phone {
		margin: 0 auto;
	}
}
.main_base_connect {
	margin: 2rem auto 0;
	background-color: var(--color-hight-color);
	color: var(--color-background-color);
	display: flex;
	width: 100%;
	height: 2.6rem;
	border-radius: 1.3rem;
	align-items: center;
	justify-content: space-around;
	max-width: 15rem;
	min-width: 9rem;
	overflow-x: scroll;
	@include media-phone {
		margin: 1rem auto;
		&.main_base_connected {
			display: none;
		}
	}
}
.main_base_connect_account {
	font-size: 0.5rem;
	padding: 0 1rem;
}
.main_base_connect_text {
	color: var(--color-primary-color);
}
.main_base_connect_icon {
	color: var(--color-background-color);
}
.main_base_nav_group {
	flex: 1;
	overflow: scroll;
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: right;
	@include media-phone {
		flex-direction: row;
		flex: auto;
	}
}
.main_base_nav_link {
	width: 80%;
	min-width: 9rem;
	display: flex;
	color: var(--color-hight-color);
	align-items: center;
	height: 3rem;
	padding-left: 10%;
	cursor: pointer;
	position: relative;
	z-index: 1;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: transparent;
		transition: background-color var(--transition-time);
		border-top-left-radius: 2rem;
		border-bottom-left-radius: 2rem;
		z-index: -1;
	}
	&.main_base_nav_active::before {
		background-color: var(--color-background-color);
		opacity: 0.5;
	}
	@include media-phone {
		padding: 0;
		width: 33.33%;
		min-width: auto;
		align-items: center;
		justify-content: center;
		&::before {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
		}
	}
}
.main_base_nav_link_icon .iconfont {
	font-size: 2.2rem;
	line-height: 3rem;
	padding-right: 0.2rem;
}
.main_base_line {
	width: 100%;
	max-width: 12rem;
	height: 1px;
	background-color: var(--color-primary-color);
	border: 0;
	opacity: 0.2;
	margin: 1rem 0;
	@include media-phone {
		display: none;
	}
}
.main_base_language {
	margin: 0 auto 2rem;
	width: 80%;
	max-width: 10rem;
	display: flex;
	justify-content: space-around;
	background: none;
	align-items: center;
	height: 3rem;
	@include media-phone {
		&.component-functional-button {
			position: absolute;
			bottom: 0;
			margin-bottom: 0.2rem;
			z-index: 10;
			width: 100vw;
			left: 0;
			justify-content: center;
			max-width: 100vw;
			background-color: var(--color-background-color);
			margin-bottom: 0;
			.main_base_language_text {
				padding-right: 1rem;
			}
			&[disabled] {
				position: absolute;
			}
		}
		&.main_base_language_linked {
			display: none;
		}
	}
}


.main_base_content {
	padding: 3rem 1rem 3rem 0;
	flex: 5;
	overflow-y: scroll;
	@include media-phone {
		padding: 0;
		padding-bottom: 2.5rem;
		&.main_base_content_linked {
			padding-bottom: 0;
		}
	}
}
.main_base_route {
	border-radius: 2rem;
	min-height: 100%;
	padding: 1rem;
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: var(--color-background-color);
		opacity: 0.5;
	}
	@include media-phone {
		border-radius: 0;
		padding: 0.5rem;
	}
}

.main_base_content_shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-background-color);
	animation: shadowAnimate 0.3s forwards;
}

@keyframes shadowAnimate {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
