@import "./rest.scss";
@import "./theme.scss";
@import '../../assets/icons/iconfont/iconfont.css';
@import '../../assets/icons/version_icon/iconfont.css';

html {
	font-size: var(--size-font-size);
}

#root {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.noDatas{
	height: 5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8rem;
	color: var(--color-browser-tips-color);
}