@import "./rest.scss";
@import "./theme.scss";
@import '../../assets/icons/iconfont/iconfont.css';

html {
	font-size: var(--size-font-size);
}

#root {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}