@import './base.var.scss';

:root, :root[theme=light] {
	--color-main-background-color: #dadefb66;
	--color-primary-color: #31d87f;
	--color-primary-color-opacity2: #31d87f20;
	--color-background-color: #ffffff;
	--color-hight-color: #161620;
	--color-text-high-color: #000;
	--color-gray-color: #adacb7;
	--color-border-color: #e9e9ea;
	--color-content-background-color: #161620;
	--color-content-background-color-opacity5: #16162088;
	--color-content-hight-color: #ffffff;
	--color-browser-title-color: #000000;
	--color-browser-border-color: rgba(0,0,0,0.1);
	--color-browser-tips-color: #BABABA;
	--color-rate-up-color:#189653;
	--color-table-background-color:#FBFBFD;
	--color-table-background-color1:#F2F3FC;
	--color-tab-gray-background: rgba(120, 120, 129, 0.2);
	--color-input-background-color: #f9f8fb;
	--color-list-item-background-color: #e7eeec;
	--color-error-color: #ff0000;
}

:root[theme=dart] {
	--color-main-background-color: #dadefb66;
	--color-primary-color: #31d87f;
}

:root {
	--size-font-size: 16px;
	--transition-time: 0.3s;
	@include media-phone {
		--size-font-size: 14px;
	}
}

* {
	transition: background-color var(--transition-time);
}