
@import '../../../styles/base.var.scss';
.overview-info-detail{
  margin: 0 2.3rem;
  background: var(--color-main-background-color);
  border-radius: 2.5rem;
  padding-top: 1rem;
	@include media-phone {
    margin: 0 0.5rem;
    border-radius: 1rem;
  }
  .overview-info{
    display: flex;
    align-items: center;
    @include media-phone {
      flex-direction: column;
    }
    &-title{
      height: 5.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-phone {
        height: 6.5rem;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1rem;
        .overview-info-title-btns{
          position: relative;
          right: 1rem;
        }
        .overview-info-title-price{
          padding: 0.5rem 1.5rem;
        }
      }
      &-price{
        color: var(--color-browser-title-color);
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1.5rem;
        display: flex;
        align-items: flex-end;
        width: 50%;
        @include media-phone {
          width: 100%;
        }
        .rate{
          color: var(--color-primary-color);
          font-size: 1rem;
          font-weight: normal;
          padding-left: 0.5rem;
        }
      }
      &-btns{
        display: flex;
        padding-right: 1.3rem;
        &-item1{
          width: 8.3rem;
          height: 3rem;
          background: var(--color-primary-color);
          border-radius: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-browser-title-color);
          font-size: 1rem;
          cursor: pointer;
          &.active{
            background: var(--color-browser-title-color);
            color: var(--color-primary-color);
            position: relative;
            left: 2rem;
          }
        }
      }
    }
    &-token{
      padding: 1rem 1.5rem;
      color: var(--color-contract-color);
      background: var(--color-contract-background);
      font-size: 0.9rem;
      .address{
        cursor: pointer;
      }
    }
    &-item1{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 0.65rem;
      &.other{
        background: var(--color-content-background-color);
        border-radius: 2.5rem;
        padding: 0;
        margin: 0.65rem;
      }
      @include media-phone {
        flex-direction: column;
        justify-content: center;
        width: 100%;
      }
      &-tips{
        padding: 1.15rem 0;
        font-size: 1rem;
        color: var(--color-browser-tips-color);
        font-weight: normal;
        @include media-phone {
          padding: 0.5rem 0;
        }
      }
      &-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-value{
        color: var(--color-browser-title-color);
        font-size: 1.6rem;
        font-weight: bold;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        width: 50%;
        @include media-phone {
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0 1.5rem;
        }
        .rate{
          color: var(--color-primary-color);
          font-size: 1rem;
          font-weight: normal;
          padding-top: 0.5rem;
        }
      }
      &-item{
        display: flex;
        align-items: center;
      }
      &-tab{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--color-tab-gray-background);
        width: 13.5rem;
        height: 2.2rem;
        border-radius: 1.1rem;
        padding: 0 0.6rem;
        margin-right: 1.8rem;
        &-item{
          font-size: 0.8rem;
          padding: 0.2rem 0;
          width: 33%;
          display: flex;
          justify-content: center;
          color: var(--color-browser-tips-color);
          cursor: pointer;
          &.item-active{
            background: var(--color-browser-title-color);
            border-radius: 0.75rem;
            color: var(--color-gray-color);
          }
        }
      }
    }
  }
}